   <div class="homeimg">
            <img src="images/home/accion.png" alt="Accion">
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Accesibilidad</h2>
                <p>Brindamos soluciones de la tecnología y accesibilidad en la comunicación e información para las personas sordas y para todos, creando cosas que llaman la atención y tienen sentido</p>
            </div>
            <div class="lesco_accesibilidad">
                <h2>LESCO</h2>
                <p>(Lengua de señas costarricense)</p>
                <div class="lesco">
                    <img src="images/home/LESCO.png" class="logo_av" alt="Acceso Visual" width="100">
                </div>
            </div>
        </div>
