   <section class="historia">
            <h2>Historia</h2>
            <p>Como es de su conocimiento en Costa Rica hay tres leyes que amparan los derechos de las personas sordas al acceso a la información y comunicación. Las leyes son: Ley 7600 (Igualdad de oportunidades para las personas con discapacidad), Ley 8661: Convención sobre los Derechos de las Personas con Discapacidad y Ley 9049: Reconocimientode la Lengua de Señas Costarricense (LESCO).</p>
            <p>Por lo anterior, surgió nuestra empresa llamada Acceso Visual que se dedica a la producción de videos en Lengua de Señas Costarricense (LESCO) traduciendo en esta lengua cualquier información proporcionada o anunciada por las instituciones públicas y privadas haciéndola accesible para la comunidad sorda de Costa Rica.</p>
        </section>
        <section class="staff">
            <h2>Equipos</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/leonel.jpg" alt="Leonel López">
                    <h5>Leonel López</h5>
                    <h6>Gerente General</h6>
                    
                </div>
                <div class="persona">
                    <img src="images/nosotros/malis.jpg" alt="María Laura Chan">
                    <h5>María Laura Chan</h5>
                    <h6>Diseñadora Gŕafica</h6>
                   
                </div>
            </div>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/carlos.jpg" alt="Carlos Gutíerrez">
                    <h5>Carlos Gutíerrez</h5>
                    <h6>Traductor de LESCO</h6>
                  
                </div>
                <div class="persona">
                    <img src="images/nosotros/hugo.jpg" alt="Victor Hugo Delgado">
                    <h5>Victor Hugo Delgado</h5>
                    <h6>Editor de Video</h6>
                   
                </div>             

            </div>


        </section>
